# Core Libraries
streamlit==1.34.0
python-dotenv

# LangChain and NLP
langchain==0.1.16
langchain-community==0.0.36
langchain-groq
langchain-huggingface

# Embeddings and Vector Database
sentence-transformers==2.6.1
faiss-cpu
huggingface-hub

# Google Sheets Integration
gspread
oauth2client

# Data Ingestion and Preprocessing
gdown
pypdf
torch==2.2.2

